.todo_panel_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo_panel_all_left {
    width: 18%;
    text-align: center;
    white-space: nowrap;
    span {
        font-size: 15px;
        color: #464646;
    }
}
.todo_panel_radio {
    min-width: 50%;
}
.all_tasks_completed {
    color: #87b67e !important;
}
.no_tasks {
    color: #b67e7e !important; 
}
.disable_button_clear {
    opacity: 0.6;
    cursor: unset;
    pointer-events: none;
    transition-duration: 1000ms;
}
@media only screen and (max-width: 850px) {
    .todo_panel_actions {
        flex-direction: column;
    }
    .todo_panel_radio {
        margin: 20px;
    }
    .todo_panel_radio {
        width: 90%;
    }
    .todo_panel_all_left {
        width: unset;
    }
}
