.taskcard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    margin: 10px auto;
    border-bottom: solid 1px #e0e0e0;
    padding: 14px 0;
}
.taskcard_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.taskcard_complete_button {
    display: flex;
    align-items: center;
    transform: translateY(-2px);
}
.taskcard_title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 25px;
    text-align: left;
    font-size: 19px;
    color: #535353;
}
.crossed_title {
    text-decoration: line-through;
    opacity: 0.5;
}
