.wrapper {
    height: 100vh;
    width: 100%;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
}

@mixin theme-selection($color) {
  background-size: 400% 400%;
  
  ::selection {
    background-color: $color;
    color: white;
  }
}

.dark_theme {
    background: linear-gradient(45deg, #305e5e, #964747, #161131, #945474,  #644162);
    @include theme-selection(#9c5c99c4);
}

.light_theme {
    background: linear-gradient(45deg, #eff0c9, #d49595, #c6ddbd, #c9b7d6,  #dac7d9);
    @include theme-selection(#c494c2c4);
}

@media only screen and (max-height: 440px) and (orientation: landscape) {
    .wrapper {
        height: 120%;
    }
    .main {
        height: 100%;
    }
}

.animation_background {
    animation: gradientMove 12s ease-out infinite 500ms; 
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
      }
      25% {
        background-position: 100% 50%;
      }
      50% {
        background-position: 100% 100%;
      }
      75% {
        background-position: 0% 100%;
      }
      100% {
        background-position: 0% 50%;
      }
  }
  