.taskcard_actions {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 2px;
        }
    }
}
.taskcard_movers {
    margin-left: 15px;
}

.taskcard_delete {
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .taskcard_actions {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
    .taskcard_movers {
        margin-left: unset;
    }
}